@font-face {
    font-family: 'RockSaltRegular';
    src: url('../fonts/RockSalt-webfont.eot');
    src: url('../fonts/RockSalt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RockSalt-webfont.woff') format('woff'),
         url('../fonts/RockSalt-webfont.ttf') format('truetype'),
         url('../fonts/RockSalt-webfont.svg#RockSaltRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body
{
	color: #2E2E2E;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	text-align: center;
}
header
{

	
}
nav
{
	font-size: 1.1em;
	margin-top: 0.2em;
	margin-bottom: 0.4em;
	text-align: center;
}
nav ul 
{
	list-style: none;
	margin:0;
	padding: 0;
}
nav li 
{
	display: inline-block;
}
nav li a
{
	border-left-color: rgba(25,25,25,0.25);
	border-left-style: solid;
	border-right-color: rgba(255,255,255,0.25);
	border-right-style: solid;
	border-width: 1px;
	color:white;
	padding: 0em 1.5em;
	text-decoration: none;

}
nav li a:hover
{
	color:black;
	background: rgba(255,255,255,0.25);
	border-left-color: rgba(25,25,25,0.25);
	border-left-style: solid;
	border-right-color: rgba(255,255,255,0.25);
	border-right-style: solid;
	border-width: 1px;
}
 article figure img
{
	width: 50%;
}
footer
{
	background: orange;
	margin-top: 1.5em;
	padding: 1em;
	
}

#header-texto h2
{
	color: orange;
	font-size: 1em;
	font-family: 'RockSaltRegular', normal;
	padding: 0.5em;
	margin: 0;
	-webkit-transform:rotate(-1deg);
	transform:rotate(-1deg);
	text-shadow:1px 1px 2px black;
}
#header-top
{
	background: url("../img/fondo.jpg");
	box-shadow: 0px -2px 3px rgba(0,0,0,0.2) inset;
	margin: 0;
	padding-top: 0.5em;
}
#header-top #isotipo
{
	display: inline-block;
	margin-bottom: -4em;
	margin-right: 0.5em;
	vertical-align: top;
}
#header-top #contacto
{
	display: inline-block;
	margin-left: 3em;
	text-align: right;
	vertical-align: top;
}

#header-top #contacto img
{
	display: inline-block;
	margin: 0;
	vertical-align: top;
	width: 50px;
	
}
#header-top #contacto p 
{
	color: white;
	display: inline-block;
	font-size: 1.3em;
	margin: 0;
	padding-left: 0.8em;
	text-shadow:1px 1px 2px black;
	vertical-align: top;
}
#header-texto
{
	box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
	display: inline-block;
	width: 100%;
}
#logotipo
{
	color: white;
	display: inline-block;
	padding: 0;
	margin-top: 0.8em;
	text-shadow:1px 1px 2px black;
}
#logotipo h1
{
	border-bottom: solid;
	border-width:0.1em;
	display: inline-block;
	font-family: 'Philosopher', sans-serif;
	font-size: 1.8em;
	margin: 0;
}
#logotipo h2
{
	font-size: 0.6em;
	font-family: Arial;
	margin: 0;
}
#display
{
	text-shadow:1px 1px 2px black;
	
	background: url("../img/fondo1.jpg") no-repeat;
	color: white;
	margin:0;
	
	
	
}
#display img
{

display: inline-block;
vertical-align: top;


border-radius: 2%;
border-color:  white;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
margin-top: 3em;
margin-bottom: 3em;


}
#display figcaption
{
	display: inline-block;
	vertical-align: top;
	margin: 1.1em;
	padding: 0;
	width: 35%;
}
#display p
{
	font-size: 2em;
	
	
	
	
	
}
#display #boton-demo
{
	display: inline-block;
	color: orange;
	background: rgba(255,255,255,0.9);
	padding: 0.5em;
	font-family: 'RockSaltRegular', normal;
	text-shadow:1px 1px 2px black;
	border-radius: 0.2em;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
#display #boton-demo:hover
{
	background: white;
	box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.3);
}

#pasos 
{
	width: 100%;
	background: url("../img/fondo2.jpg");
}
#cera, #crema, #sellador
{
	display: inline-block;
	background: lightgray;
	border-radius: 5px;
	box-shadow: black 5px 5px 5px;
	margin: 0.5em;
	padding: 1em;
	vertical-align: top;
	width: 20%;
}
.boton-slide
{
	color: white;
	font-size: 1em;
	font-weight: bold;
	display: inline-block;
	vertical-align: top;
	margin: 0.4em 0.8em;
	background: orange;
	border-style: solid;
	border-width: 0.2em;
	border-color: darkorange;
	padding: 0.2em 0.5em 0.2em 0.5em;
}