body
{
	background: white;
	color: #2E2E2E;
	font-family: Arial;
	font-size: 16px;
	text-align: center;

}
header
{
	background: orange;
	background: url("../img/logo1.png") no-repeat center right 40%, url("../img/background.png"), orange;
	background-size: 70px 70px,100px 100px,100%;
	display: inline-block;
	width: 100%;
	margin: 0em;
	
}
header h1
{
	margin: 0;
	text-shadow: rgba(0,0,0,0.5) 3px 3px 2px;
}
header h2
{
	margin: 0;
	font-weight: normal;
	text-shadow: rgba(0,0,0,0.75) 2px 2px 5px;
}
nav
{
	background: orange;
	display: inline-block;
	width: 100%;
	


}
nav ul
{
	list-style: none;


}
nav li 
{
	display: inline-block;
	margin: 1em;
}
nav li a 
{
	background: #000;
	display: inline-block;
	color: white;
	
	text-decoration: none;
}
 article figure img
{
	width: 50%;
}
footer
{
	background: orange;
	margin-top: 1.5em;
	padding: 1em;
	width: 100%;
}
#display
{
	margin: 1.5em;
}
#display figcaption
{
	display: inline-block;
	vertical-align: top;
	width: 30%;
}
#display img
{
	border-radius: 10px;
	box-shadow: black 5px 5px 5px;
	display: inline-block;
	margin-left: 1em;
	vertical-align: top;
	width: 30%;
}
#pasos 
{
	
	width: 100%;

}
#cera, #crema, #sellador
{
	display: inline-block;
	background: rgba(212,245,46,0.6);
	border-radius: 5px;
	box-shadow: black 5px 5px 5px;
	margin: 0.5em;
	padding: 1em;
	vertical-align: top;
	width: 20%;

}
